<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="TIMER_CALLBACK_PERIOD_MINUTES" value="5"/>
    <add key="DELETE_FILES_OLDER_THAN_DAYSQ" value="10"/>
    
    <!--<add key="DIR_FILEHBRK15" value="\\192.168.203.161\Exchange\FERHRI\WRF_HBRK15"/>
    <add key="DIR_FILEHBRK15_TYPE" value="WITH_SUBDIRS"/>-->
    <add key="DIR_FILEHBRK15" value="\\10.8.3.191\wrf_data\oper\"/>
    <add key="DIR_FILEHBRK15_TYPE" value="FILES"/>
    
    <add key="FILEHBRK15_NAMES" value="1DATA_HBRK15_00.txt;1DATA_HBRK15_12.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="FERHRI.Amur.Importer.HBRK15.Properties.Settings.AmurConnectionString"
      connectionString="Server=10.8.3.180;Port=5432;User Id=sys_importer;Password=qq;Database=ferhri.amur;" />
    <!--connectionString="Server=192.168.203.163;Port=5432;User Id=sys_importer;Password=qq;Database=ferhri.amur;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.8.3.180:8874/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReferenceAmur.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>