<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ImportMSSQL2Postgres.Properties.Settings.ConnectionString"
      connectionString="Dsn=PostgreSQL Hymera;uid=postgres;pwd=qq"
      providerName="System.Data.Odbc" />
    
    <add name="ImportMSSQL2Postgres.Properties.Settings.AmurPgConnectionString"
      connectionString="Server=192.168.203.163;Port=5432;User Id=postgres;Password=qq;Database=hymera;" />
    
    <add name="ImportMSSQL2Postgres.Properties.Settings.AmurMSConnectionString"
      connectionString="Provider=SQLNCLI11;Data Source=VIATOR-ENVY;Integrated Security=SSPI;Initial Catalog=Amur"
      providerName="System.Data.OleDb" />
  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>