<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SOV.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SOV.Amur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SOV.Amur.Properties.Settings.AmurConnectionString" connectionString="ПУГМС/Server=10.11.25.57;Port=5432;Database=amur;/ДВ УГМС/Server=10.8.3.180;Port=5432;Database=SOV.amur;/localhost/Server=localhost;Port=5432;Database=SOV.amur;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <SOV.Common.Properties.Settings>
      <setting name="ConfigFile" serializeAs="String">
        <value>config.xml</value>
      </setting>
    </SOV.Common.Properties.Settings>
    <SOV.Amur.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>OSokolov;qq</value>
      </setting>
    </SOV.Amur.Properties.Settings>
  </userSettings>
</configuration>
