<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HBRMsSql_AmurPg.Settings.AmurConnectionString" connectionString="Server=bravo.int.ferhri.ru;Port=5432;Database=ferhri.amur;user id=OSokolov;password=qq" />
    <add name="HBRMsSql_AmurPg.Settings.HBRMsSqlDataFilePath" connectionString="D:\Temp\FERHRI\Amur\Import\HBRMsSqlData.csv" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>