<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="FERHRI.Amur.ServiceRH16.Properties.Settings.AmurConnectionString" connectionString="Server=10.8.3.180;Port=5432;User Id=ext_rh16;Password=ljujdjh2016;Database=ferhri.amur"/>
    <!--<add name="FERHRI.Amur.ServiceRH16.Properties.Settings.AmurConnectionString" connectionString="Server=192.168.203.163;Port=5432;User Id=ext_rh16;Password=ljujdjh2016;Database=ferhri.amur"/>-->
  </connectionStrings>
  <appSettings>
    <!--Дата начала и дата окончания работы сервиса - ответа сервиса на запросы клиентов. Формат YYYYDDMM HH:mm-->
    <add key="DATE_SF" value="20170815 00:00;20171231 23:59"/>
    <!--Группа пунктов/станций, данные которых предоставляет серис.
    Группа с кодом 22 - группа из 41 метеостанции в бассейнах рек Зея и Бурея.-->
    <add key="SITE_GROUP_IDS" value="22"/>
    
    <!--Агрегированные (суточные) темп. воздуха, осадки и дефицит влажности.
    Используются для определения исходных наблюдённых и прогностических переменных, которые и агрегируются.-->
    <add key="CLIENT_VARIABLE_ID" value="1000;74;1021"/>
    <!--Коды наблюдённых переменных, использующиеся для агрегации: Ta, R, d и соответствующие по порядку CLIENT_VARIABLE_ID -->
    <add key="OBS_INI_VARIABLE_ID" value="10;45;1017"/>
    <!--Коды прогностических переменных, использующиеся для агрегации: Ta, R, d и соответствующие по порядку CLIENT_VARIABLE_ID -->
    <add key="FCS_INI_VARIABLE_ID" value="1012;1014;1017"/>
    <!--Ключ записи каталога, использующиеся для агрегации OBS_INI_VARIABLE_ID: methodId, soutceId, offsetTypeId, offsetValue-->
    <add key="OBS_INI_METHOD_SOURCE_OFFSET" value="0;0;0;0.0"/>
    <!--Ключ записи каталога, использующиеся для агрегации FCS_INI_VARIABLE_ID: methodId, soutceId, offsetTypeId, offsetValue-->
    <add key="FCS_INI_METHOD_SOURCE_OFFSET" value="100;0;0;0.0"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>