<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FERHRI.Amur.Properties.Settings.AmurDataPConnectionString" connectionString="Server=bravo.int.ferhri.ru;Port=5432;User Id=NDruz;Password=qq;Database=ferhri.amur;"/>
    <add name="FERHRI.Amur.Properties.Settings.AmurDataConnectionString" connectionString="Server=bravo.int.ferhri.ru;Port=5432;User Id=NDruz;Password=qq;Database=ferhri.amur;"/>
    <add name="FERHRI.Amur.Properties.Settings.AmurMetaConnectionString" connectionString="Server=bravo.int.ferhri.ru;Port=5432;User Id=NDruz;Password=qq;Database=ferhri.amur;"/>
    <add name="FERHRI.Amur.Properties.Settings.AmurSysConnectionString" connectionString="Server=bravo.int.ferhri.ru;Port=5432;User Id=NDruz;Password=qq;Database=ferhri.amur;"/>
  </connectionStrings>
  <appSettings>
    <add key="unitTime" value="100"/>
    <add key="isFcsDataType" value="false"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
