<?xml version="1.0" encoding="utf-8" ?>
<setting>
<!--Если атрибут subDir2Keep пуст, то перемещение файлов не производится-->
  <fileType name="WRF_HBR_K15" dirImport = "\\192.168.203.155\Exchange\FERHRI\WRF_HBRK15" logFile="log_import.txt" subDir2Keep ="Arj" dataType="forecasts">
    <fileSubType name="SGMO" fileNames = "LIS_ATM.txt"/>
    <!--<fileSubType name="BUREA" fileNames = "1DATA_HBRK15_00.txt;1DATA_HBRK15_12.txt"/>-->    
    <!--<fileSubType name="LEVEL" fileNames = "SeaLevel.txt"/>-->
  </fileType>

  <fileType name="WW_VVO_2016" dirImport = "\\192.168.203.155\Exchange\FERHRI\WW_VVO" logFile="log_import.txt" subDir2Keep ="Arj" dataType="forecasts">
    <fileSubType name="WW_VVO_2016" fileNames = "wave.csv"/>
  </fileType>

  <fileType name="WRF_VVO_OS15" dirImport = "\\192.168.203.155\Exchange\FERHRI\WRF_VVO_OS15" logFile="log_import.txt" subDir2Keep ="Arj" dataType="forecasts">
    <fileSubType name="WRF_VVO_OS15" fileNames = "WRF_VVO_OS15.csv"/>
  </fileType>

  <!--РЕДКО ИСПОЛЬЗУЕМЫЕ-->
  
  <!--<fileType name="CSV_WITH_CTLID" dirImport = "d:\Downloads\77\" logFile="" subDir2Keep ="" dataType="observations">
    --><!--<fileSubType name="MAGSHELF_2016_NH9" fileNames = "Сводная метеосводка NH9 Ульбериканская Лисянский.csv"/>--><!--
    <fileSubType name="MAGSHELF_2016_NH9" fileNames = "Сводная метеосводка NH9 Дукчинская Магадан-1.csv"/>
  </fileType>-->

  <!--<fileType name="META_CSV" dirImport = "d:\Temp\FERHRI\Amur\Import\Meta\" logFile="" subDir2Keep ="" dataType="meta.stations">
    <fileSubType name="META_CSV_STATIONS25_GONCHUKOV2016" fileNames = "sites PK 25.csv"/>
  </fileType>-->

</setting>
