<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.11.203.34:8001/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="AmurServiceReference.IService" name="BasicHttpBinding_IService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Import.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>OSokolov;qq</value>
            </setting>
        </Import.Properties.Settings>
    </applicationSettings>
</configuration>
